html
{
    font-size: 100%;
	font-family: 'Source Sans Pro', sans-serif;
	background-color:#ffffff;

}
body
{
	padding:0;
	margin:0px auto auto auto;

}
.header
{
	color:white;
	margin:auto;
	position:inherit;
	background-image: url("beauty.jpg");
	
}
.footer
{
	margin:auto;
	margin-left:100px;
	margin-right:100px;
}